<div class="image-container">
    <div class="image-upload">
        <div class="photo-icon">
            <i class="fa-regular fa-image"></i>
        </div>
        <div class="choose-image">
            <span class="image-text"><i>Please upload square image, size less than 100KB</i></span>
            <span  class="image">
                <input type="file" name="image" id="image" accept="image/*">
            </span>
        </div> 
    </div>
    <div class="save-button">
        <button>Save</button>
    </div>
</div>
