<div class="pages-list" >
    <div class="page" *ngFor="let page of pages">
        <div class="page-image">
            <img src="" alt="image">
        </div>
        <h4 class="title">{{page.Title}}</h4>
        <h5 class="category">{{page.Category}}</h5>
        <p class="sub-title">{{page.SubTitle}}</p>
        <div class="create-page">
            <button (click)="naviagteToPage(page.Page_Id)">Edit</button>
            <button (click)="deletePage(page.Page_Id)">Delete</button>
        </div>
    </div>
    <div class="create-option">
        <div class="page-image">
           
        </div>
        <h2 class="title">Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor.</p>
        <div class="create-page">
            <a (click)="naviagteToNewPage()">Create Page</a>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
</div>
