.pages-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 4em;
}

.page{
    margin: 1em;
    width: 15em;
    height: 25em;
    border: 2px solid;
}

.page p{
    font-size: 1em;
}

.create-option{
    margin: 1em;
    width: 15em;
    height: 20em;
    border: 2px solid;
}

.page-image{
    width: 100%;
    height: 45%;
    border-bottom: 1px solid;
}


.title{
    padding: 0.5em;
}

.create-option p{
    margin: 0.5em;
}

.create-option .create-page {
    display: flex;
    flex-direction: row;
    color: brown;
    padding: 0.5em;
}

.create-option .create-page a{
    margin-right:0.75em ;
    text-decoration: none;
    color: brown;
    font-weight: 500;
    cursor: pointer;
}

.category{
    margin-left: 0.5em;
}

.sub-title{
    margin: 1em;
}

.create-page button{
    width: 40%;
    background-color: beige;
    padding: 0.5em;
    margin: 0.75em;
    cursor: pointer;
}
